.contato-container {
  min-height: 80vh;
  height: auto; 
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.titulo {
  color: #4a3fad;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.formulario-contato {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
}

.form-esquerda, .form-direita {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  width: 100%;
}

label {
  font-size: 1rem;
  color: #3a2e8a;
  font-weight: 600;
}

input, textarea {
  padding: 10px;
  border: 2px solid #4a3fad;
  border-radius: 4px;
  font-size: 0.9rem;
  background-color: white;
  color: #000;
  width: 100%; 
}

input:focus, textarea:focus {
  border-color: #6365ff;
  outline: none;
}

textarea {
  height: 150px;
  max-height: 400px;
  resize: vertical;
}

.botao-enviar {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4a3fad;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s;
}

.botao-enviar:hover {
  background-color: #6365ff;
}



@media (max-width: 768px) {
  .formulario-contato {
    flex-direction: column; 
    gap: 15px;
  }

  .botao-enviar {
    align-self: center; 
    width: 100%;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 2rem; 
  }

  input, textarea {
    font-size: 0.85rem; 
  }

  .botao-enviar {
    font-size: 0.9rem;
    padding: 10px 15px;
    width: 100%;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.popup p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #0056b3;
}

.popup-close {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-close:hover {
  background-color: #0056b3;
}

/* Animação opcional */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

